{% extends "base.html" %}

{% block title %}Товар {{ id }}{% endblock %}

{% block content %}
<div class="product-detail">
    <div class="product-detail-image">
        <img src="/static/img/card{{ id }}.jpg" alt="Товар {{ id }}">
    </div>
    <div class="product-detail-info">
        <h1>Товар {{ id }}</h1>
        <p class="product-detail-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="product-detail-price">{{ id }}0 хлопка</p>
        <a href="{% url 'home' %}" class="btn-back">← Вернуться</a>
    </div>
</div>
{% endblock %}
